.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-left-30 {
  padding-left: 30px;
}

.width-100 {
  width: 100px;
}

.width-200 {
  width: 200px;
}

.panel-margin {
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
}

.align-center {
  text-align: center;
}

.inline-block {
  display:inline-block;
}

.title {
  background-color: #337AB7;
  color: white;
}
