<!-- Title -->
<div class="panel panel-primary panel-margin">
  <div class="title panel-body">
    <div class="align-center">
      <h1><b>SIMPLE BLOCKCHAIN DECENTRALIZED APPLICATION</b></h1>
    </div>
  </div>
</div>

<!-- Alert Info -->
<div class="alert alert-info alert-dismissable panel-margin">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>How to use?</strong>
  <br><br>
  This application works with two testnet networks: Goerli Testnet Network and Ganache (local blockchain). Choose Your preferred testnet network in MetaMask (e. g. Goerli) with one or more accounts that already have some fake ETH, connect site to MetaMask, in application input some ETH amount into the inputbox and click <i>Fund</i> button next to it. Observe how Your account balance decreases by that fund amount and how Your address appears in the <i>Latest contract funders</i> list on the right hand side. At the same time the smart contract's balance increases by the same amount. When transaction completes, a short message will be visible for a few seconds to inform You of completition.
  <br><br>
  If You use a "real" testnet network (e. g. Goerli) as opposed to a local blockchain Ganache, You should see all Your successful transactions on Ethercan. For Goerli Testnet Network it can be found <a href="https://goerli.etherscan.io/" target="_blank" class="alert-link">here</a>. Search Etherscan by typing Your account address and You will see all transactions in detail in which that account address was involved.
  <br><br>
  You can obtain some fake ETH into Your account for Goerli Testnet Network <a href="https://goerlifaucet.com/" target="_blank" class="alert-link">here</a>.
</div>

<!-- General Data -->
<div class="panel panel-primary panel-margin">
  <div class="panel-heading">
    <h3 class="panel-title">General data</h3>
  </div>
  <div class="panel-body">
    <div class="align-center">
      <b>Connected network: {{ networkName }}</b>
    </div>
  </div>
</div>

<!-- Smart Contract Funding -->
<div class="panel panel-primary panel-margin">
  <div class="panel-heading">
    <h3 class="panel-title">Smart contract funding</h3>
  </div>
  <div class="row">
    <!-- Show Account -->
    <div class="col-md-4 padding-top-10 padding-bottom-10 padding-left-30">
      <b>Account address:</b><br>
      {{ accountAddress }}
      <br><br>
      <b>Account balance (ETH):</b><br>
      {{ accountBalance }}
      <br><br>
      <div *ngIf="transactionText != ''">
        <b>Transaction status:</b><br>
        {{ transactionText }}
      </div>
    </div>
    <!-- Show Contract Balance and Transaction Interaction -->
    <div class="col-md-4 padding-top-10 padding-bottom-10 align-center">
      Contract so far funded with
      <h2><b>{{ simpleFundContractBalance }} ETH</b></h2>
      <div class="input-group padding-top-10 inline-block">
        <input type="text" class="form-control width-100" name="ethFundAmount" placeholder="0.1" [(ngModel)]="ethFundAmount">
        <button id="fund" [disabled]="focusChanged || !interfaceEnabled" type="button" class="btn btn-primary width-100" (click)="onFundClick()">Fund</button>
      </div>
      <div class="padding-top-10">
        <i>Latest ETH/USD price: ${{ priceRounded }}</i>
      </div>
    </div>
    <!-- Show Transaction Data (funders) -->
    <div class="col-md-4 padding-top-10 padding-bottom-10">
      <b>Latest contract funders:</b><br><br>
      <div *ngFor="let funder of funders">
        {{ funder }}
      </div>
    </div>
  </div>
</div>

<!-- Transactions -->
<div class="panel panel-primary panel-margin" *ngIf="transactions.length>0">
  <div class="panel-heading">
    <h3 class="panel-title">Latest transactions</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover table-condensed table-bordered">
      <thead>
        <tr>
          <th>Transaction hash</th>
          <th>From</th>
          <th>To</th>
          <th>Value (ETH)</th>
        </tr>
      </thead>
      <tbody *ngFor="let transaction of transactions">
        <tr>
          <td>{{ transaction.hash }}</td>
          <td>{{ transaction.from }}</td>
          <td>{{ transaction.to }}</td>
          <td>{{ convertFromWei(transaction.value) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Alert Danger -->
<div class="alert alert-danger panel-margin" *ngIf="dangerAlertText != ''">
  {{ dangerAlertText }}
</div>

<!-- Alert Success -->
<div class="alert alert-success panel-margin" *ngIf="successAlertText != ''">
  {{ successAlertText }}
</div>

<!-- Alert Info -->
<div class="alert alert-info panel-margin" *ngIf="infoAlertText != ''">
  {{ infoAlertText }}
</div>